html{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #182c3b;
}

main {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

canvas {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
